
// 1. Base
@import 'base/index.scss';

// 1. Components
@import 'components/index.scss';

// 1. sections
@import 'sections/index.scss';

// 4. Layout/Pages (Add as needed)
// @import 'header';
// @import 'footer';