// Center flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media Queries
@mixin res-to($breakpoint) {
  @if $breakpoint == "sm" {
    @media (max-width: #{$sm}) { @content; }
  } @else if $breakpoint == "md" {
    @media (max-width: #{$md}) { @content; }
  } @else if $breakpoint == "lg" {
    @media (max-width: #{$lg}) { @content; }
  } @else if $breakpoint == "xl" {
    @media (max-width: #{$xl}) { @content; }
  } @else if $breakpoint == "xxl" {
    @media (max-width: #{$xxl}) { @content; }
  }
}