// Colors
$primary-color: #038AFF;
$secondary-color: #2ecc71;
$warning-color: #FEBD3D;
$success-color: #5CCAA7;
$dark-blue: #172D5B;
$light-blue: #77859B;
$dark-grey: #2E3A4A;
$light-grey: #FAFBFF;
$white: #ffffff;

// Typography
$font-main: 'Poppins', Arial, sans-serif;
$base-size: 16px;

// Breakpoints
$sm: 767px;
$md: 992px;
$lg: 1199px;
$xl: 1399px;
$xxl: 1499px;