/* Awards Section Start */ 

.award{
    background-color: #FAFBFF;
    position: relative;
    padding-top: 100px;
    padding-bottom: 180px;
    overflow: hidden;
    @include res-to(md){
        padding-top: 60px;
    padding-bottom: 100px;
    }
    @include res-to(sm){
        padding-top: 40px;
    padding-bottom: 60px;
    }
    
    &__slider{
        & .swiper-wrapper{
           & .swiper-slide{
            @include res-to(sm){
            height: auto;
           }
           }
        }
    }

    &-card{
        height: 100%;
        text-align: center;
        border: 1px solid transparent;
        transition: all .3s ease;
        &:hover{
            border-color: #b2dbff;
            transform: translateY(-5px);
            box-shadow: 0 8px 14px rgba(0, 0, 0, 0.075) !important;
            & .award-card__link{
                color: $primary-color;
                &::after{
                    background-color: $primary-color;
                }
            }
        }
        &__logo{
            margin-bottom: 20px;
            max-width: 120px;
            max-height: 40px;
        }
        &__description{
            font-size: 14px;
            line-height: 1.8;
            max-width: 180px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &__link{
            font-size: 14px;
            position: relative;
            color: $dark-grey;
            text-align: center;
            display: inline-block;
            transition: all .3s ease;
            &::after{
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 100%;
                height: 2px;
                content: "";
                background-color: $dark-grey;
                transition: all .3s ease;
            }
        }
    }
}