/* Faq Section Start */ 
.faq{
    padding: 100px 0px 200px;
    @include res-to(sm){
        padding: 20px 0px 60px;
    }
    &__title{
        margin-bottom: 60px;
        @include res-to(sm){
            margin-bottom: 20px;
        }
    }
    &__row{
        margin-bottom: 80px;
        @include res-to(sm){
            margin-bottom: 20px;
        }
    }
}


.accordion{
    &-item{
        border: 1px solid #EEEFF4 !important;
        border-radius: 12px !important;
        margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }
    &-button{
        box-shadow: none;
        border-radius: 12px !important;
        border: none !important;
        color: $dark-grey;
        font-size: 14px;
        padding: 20px 24px;
        display: flex;
        align-items: center;
        gap: 10px;
        @include res-to(sm){
            padding: 18px 12px;
        }
        &:focus{
            outline: none;
            box-shadow: none;
        }
       &::after{
                background-image: url('../imgs/add-line.svg');
            }
        &:not(.collapsed){
        color: $dark-grey;
            background-color: transparent;
            box-shadow: none;
            &::after{
                background-image: url('../imgs/subtract-line.svg');
            }
        }
    }
    &-body{
        padding: 10px 24px;
        p{
            font-size: 14px;
            line-height: 1.8;
            color: $dark-grey;
        }
    }

}