/* Features Section Start */ 
.features{
    padding: 20px 0px 120px;
    @include res-to(sm){
        padding: 20px 0px 45px;
    }
    &__video-overlay{
        position: relative;
        @include res-to(md){
            max-width: 550px;
        }
        & img{
            max-width: 100%;
            height: auto;
            border-radius: 16px;
            object-fit: cover;
            object-position: center;
        }
        & .btn-play{
            position: absolute;
            left: 20px;
            top: 20px;
        }
    }
    &__item{
        padding: 90px 0px 90px;
        @include res-to(md){
            padding: 40px 0px 50px;
        }
        @include res-to(sm){
            padding: 20px 0px 30px;
        }
    }
    &__content{
        max-width: 420px;
        @include res-to(md){
            margin-bottom: 60px;
        }
    }
    &__description{
        br{
            @include res-to(lg){
                display: none;
            }
        }
    } 
    &__lists{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;
        &--success{
            color: $success-color;
        }
        & li{
            display: flex;
            align-items: center;
            gap: 8px;
            & span.icon{
                font-size: 24px;
            }
        }
    }
    &__image-stack{
        background-color: #fff;
        border-radius: 16px;
        border: 1px solid #EEEFF4;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        padding: 28px 28px;
        max-width: 70%;
        @include res-to(sm){
            max-width: 100%;
        }
        & .features__video-overlay{
            position: absolute;
            right: 0;
            top: 0px;    
            width: 60%;
            height: auto;
        }

    }
    &__progress{
        &-title{
            margin-bottom: 12px;
            
            & p{
                margin-bottom: 0px;
                @include res-to(lg){
                            font-size: 14px;
                        }
            }
        }
        &-card{
            & .progress{
                height: 2px;
                background-color: #EAEBF0;
               
                &-bar{

                }
            }
        }
    }
    &__visual{
        padding-top: 100px;
        position: relative;
        @include res-to(md){
            max-width: 550px;
        }
    }
    &__blockText{
        margin-top: 90px;   
        background-color: #161348;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        padding: 90px 120px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res-to(lg){
            padding: 60px 80px;
        }
        @include res-to(md){
            padding: 50px 42px;
            flex-wrap: wrap;
        }
        @include res-to(sm){
            flex-wrap: wrap;
            margin-top: 30px;
            padding: 22px 16px 30px;
        }
        &-content{}
    }
    &__downloads{
        @include res-to(sm){
                & img{
                    max-width: 120px;
                }
        }
    }
    &__card{
        &-ui{
            & .btn-play{
                left: inherit;
                right: 15px;
            }
        }
    }



}


.progress{
    &--warning{
        & .progress-bar{
            background-color: $warning-color;
        }
    }
}

.review-card{
    &__stars{
        & span{
            color: $dark-grey;
        }
    }
    &__score{
        color: $dark-blue;
        font-weight: 500;
    }
}

.dotted{
    position: absolute;
    z-index: -1;
    &-right{
        top: 90%;
        right: 0;
        transform: rotate(-15deg);
    }
    &-left{
        top: 90%;
        left: -100px;
        transform: rotate(15deg);
    }
}