/* Footer Section Start */ 
.footer{
    background-color: #161348;
    &__cta{
        padding: 60px 0px;
        @include res-to(sm){
            padding: 30px 0px;
        }
        &-content{}
        &-title{}
        &-text{}
        &-actions{
            
        }
    }
    &__divider{
        position: relative;
        height: 1px;
        &::after{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
       background: #ffffff;
background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(237, 221, 83, 0) 100%);
        }
    }
    &__main{
        padding: 60px 0px 40px;
        @include res-to(sm){
            padding: 30px 0px;
        }
    }
    &__brand{
        max-width: 400px;
        @include res-to(sm){
            margin-bottom: 24px;
        }
    }
    &__logo{
        max-width: 120px;
        margin-bottom: 18px;
    }
    
    &__tagline{
        font-size: 14px;
        line-height: 1.8;
    }
    &__social{
        &-link{
            transition: all .3s ease;
            &:hover{
                color: $white;
            }
        }
    }
    &__widget{
        @include res-to(sm){
            margin-bottom: 24px;
        }
        &-title{
            font-size: 20px;
            color: $white;
            font-weight: 500;
            margin-bottom: 14px;
        }
    }
    &__widget{}
    &__link{
        font-size: 14px;
        color: #929EB4;
        display: block;
        line-height: 1.8;
        transition: all .3s ease;
        &:hover{
            color: $white;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__legal{
        padding: 20px 0px;
          @include res-to(sm){
                justify-content: center;
                flex-wrap: wrap;
            }
        &-links{
            display: flex;
            align-items: center;
            gap: 20px;
          
        }
        &-link{
            font-size: 14px;
            color: #79809D;
            &:hover{
                color: $white;
            }
        }
    }
}